<style>
.cl_hero_banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 16px;
}
.cl_hero_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cl_hero_banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.cl_hero_banner .container {
   width: 100%;
}
.cl_hero_banner .banner_inner {
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.cl_hero_banner .banner_content {
  max-width: 445px;
  width: 100%;
  padding-bottom: 80px;
}
.cl_hero_banner h2.heading {
  color: #515864;
  font-family: Avenir;
  font-size: 56px;
  font-weight: 900;
  line-height: 68px;
  margin: 0;
  padding-bottom: 20px;
}
.cl_hero_banner span.desc {
  padding-bottom: 20px;
  display: block;
}
.cl_hero_banner span.desc,
.cl_hero_banner span.desc p {
  color: #515864;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}
.cl_hero_banner a.banner_btn {
  text-align: center;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  text-decoration: none;
  margin: 20px auto 0;
  padding: 10px 20px;
  border-radius: 50px;
  max-width: 208px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
  position: relative;
}
.cl_hero_banner a.banner_btn:after {
  content: '';
  background: linear-gradient(0deg, rgba(34,110,195,0.8939950980392157) 0%, rgba(0,0,0,0) 60%);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  bottom: 0;
  left: 0;
}
.cl_hero_banner a.banner_btn:hover:after {
  opacity: 1;
}

.cl_hero_banner .banner_type {
  max-width: 730px;
}
.cl_hero_banner .hero_mobile {
 display: none; 
}
@media screen and (max-width: 991px) {
.cl_hero_banner .hero_desktop {
  display: none;
}  
.cl_hero_banner .hero_mobile {
  display: block;
}  
.cl_hero_banner .banner_inner {
  flex-direction: column-reverse;
}
.cl_hero_banner .banner_type {
  max-width: 520px;
}
.cl_hero_banner h2.heading {
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  padding-bottom: 10px;
}
.cl_hero_banner span.desc,
.cl_hero_banner span.desc p {
    text-align: center;
}
.cl_hero_banner a.banner_btn {
  margin: 0px auto;
}
}
@media screen and (max-width: 767px) {
  .cl_hero_banner .banner_content {
    max-width: 360px;
    width: 100%;
  }
  .cl_hero_banner h2.heading {
    font-size: 32px;
    line-height: 38px;
  }
  .cl_hero_banner span.desc, 
  .cl_hero_banner span.desc p {
    font-size: 14px;
  }
}
</style>
{% style %}
#cl_hero_banner-{{ section.id }} a.banner_btn {
  color:{{ section.settings.btn_text_color }}; 
  background-color:{{ section.settings.btn_bg_color }}; 
}
#cl_hero_banner-{{ section.id }} {
  background-color:{{ section.settings.bg_color }};
  padding-top:{{ section.settings.desktop_padding_top }}px;
  padding-bottom:{{ section.settings.desktop_padding_bottom }}px;
  margin-top:{{ section.settings.desktop_margin_top }}px;
  margin-bottom:{{ section.settings.desktop_margin_bottom }}px;
}
@media screen and (max-width: 991px) { 
  #cl_hero_banner-{{ section.id }} {
    padding-top:{{ section.settings.mbl_padding_top }}px;
    padding-bottom:{{ section.settings.mbl_padding_bottom }}px;
    margin-top:{{ section.settings.mbl_margin_top }}px;
    margin-bottom:{{ section.settings.mbl_margin_bottom }}px;
  }
}
{% endstyle %}
<section class="cl_hero_banner">
  <div class="container" id="cl_hero_banner-{{ section.id }}">
    <div class="banner_inner">
      <div class="banner_content">
          {% if section.settings.heading != blank %}
            <h2 class="heading">{{ section.settings.heading }}</h2>
          {% endif %}
          {% if section.settings.desc != blank %}
            <span class="desc">{{ section.settings.desc }}</span>
          {% endif %}
          {% if section.settings.btn_text != blank %}
            <a class="banner_btn" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
          {% endif %}
      </div>
      <div class="banner_type">
        {% if section.settings.media_type == 'image' %}
          <div class="banner_image">
            {% if section.settings.desktop_img != blank %}
              {{  section.settings.desktop_img  | image_url: width: section.settings.desktop_img.width  | image_tag: loading: 'lazy', class: 'hero_desktop' }}
            {% endif %}
            {% if section.settings.mobile_img != blank %}
              {{  section.settings.mobile_img | image_url: width: section.settings.mobile_img.width | image_tag: loading: 'lazy', class: 'hero_mobile' }}
            {% endif %}
          </div>
        {% else %}
          <div class="banner_video">
            {% if section.settings.desktop_video != blank %}
              {{   section.settings.desktop_video | video_tag: autoplay: true, loop: true, muted: true, class: 'hero_desktop' }}
            {% endif %}
            {% if section.settings.mobile_video != blank %}
              {{ section.settings.mobile_video | video_tag: autoplay: true, loop: true, muted: true, class: 'hero_mobile' }}
            {% endif %}
          </div>
        {% endif %}
      </div>
  </div>
  </div>
</section>
{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "What's Your Body Telling You?"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description",
      "default": "<p>With at-home testing from chec labs, you can monitor your health from the comfort of your home.</p>"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Explore Test"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    },
    { 
      "type": "select",
      "id": "media_type",
      "label": "Media Type",
      "options": [
        { 
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "desktop_img",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_img",
      "label": "Mobile Image"
    },
     {
      "type": "video",
      "id": "desktop_video",
      "label": "Desktop Video"
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "Mobile Video"
    },
    {
      "type":"header",
      "content":"Section Color Setting"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "BG Color",
      "default": "#F3F5F6"
    },
    {
      "type": "color",
      "id": "font1_color",
      "label": "Font 1 Color",
      "default": "#000433"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "Button Text Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "Button BG Color",
      "default": "#000"
    },
    {
      "type":"header",
      "content":"Section Desktop Spacing"
    }, 
    {
      "type": "range",
      "id": "desktop_padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop_margin_top",
      "min":  0,
      "max": 100,
      "step": 5, 
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop_margin_bottom",
      "min":  0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    },
    {
      "type":"header",
      "content":"Section Mobile Spacing"
    }, 
    {
      "type": "range",
      "id": "mbl_padding_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mbl_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "mbl_margin_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mbl_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}
